Source: sonic-pas
Section: net
Priority: optional
Maintainer: Dell <support@dell.com>
Build-Depends: debhelper (>= 9), dh-autoreconf, libfuse-dev,
 libsonic-common-dev, libsonic-logging-dev, libsonic-model-dev,
 libsonic-sdi-sys-dev, sonic-sdi-api-dev, libsonic-object-library-dev,
 dh-systemd
Standards-Version: 3.9.3
Vcs-Browser: https://github.com/Azure/sonic-pas
Vcs-Git: https://github.com/Azure/sonic-pas.git

Package: sonic-pas
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
 libsonic-pas1 (=${binary:Version}),fuse,libsonic-sdi-device-drivers1,sonic-platform-s6000-config,sonic-object-library
Description: This package contains the Platform Adaptation Service.

Package: libsonic-pas1
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: This package contains the Platform Adaptation Service.

